blockchain-parser==0.1.4
Django==2.0.6
leveldb==0.194
Pillow==5.1.0
pkg-resources==0.0.0
plyvel==1.0.4
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-bitcoinlib==0.5.0
pytz==2018.4
qrcode==6.0
six==1.11.0
