<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
        {# MEDIUM STYLE EDITOR#}
              <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
              <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<body>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
              <nav class="navbar navbar-inverse navbar-static-top">
                  <div class="container - fluid">
                    <ul class="nav navbar-nav">

                      {# Django Home Link / Admin Link / Register Link#}
                      <li><a href = "{% url 'recent_data'%}" class="navbar-brand" >BLOCKWALA</a></li>
                      <li><a href = "{% url 'recent_data'%}">Recent Blocks</a></li>
                      <li><a class="navbar-brand">WALLET</a></li>
                      <li><a href= "http://blockwala.io/">SITE</a></li>
                      <nav class="navbar navbar-light bg-light">
                    <form   class="form-inline" action="/search/" method="get">
                      <input  class="form-control mr-sm-2" type="text" name="q" placeholder='Block Hash' aria-label="Block Hash">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <br>
                    <form  class="form-inline"  action="/searchTransaction/" method="get" >
                      <input  class="form-control mr-sm-2" type="text" name="q" placeholder='Transaction' aria-label="Transaction">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <br>
                    <form  class="form-inline" action="/searchAddress/" method="get" >
                      <input  class="form-control mr-sm-2" type="text" name="q" placeholder='Address' aria-label="Address">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    </nav>
</nav>
<div class="container">
{% block content %}
{% endblock content %}
</div>


              {# Fonts#}
              <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


            


  </body>
</html>
