{% extends 'website_api/base.html' %}
{% load staticfiles %}

{% block content %}


<div style="width: 100%">
  <h1 style="font-size:30px">LATEST BLOCKS</h1>
  <br>

  <div class="container_third_recent_data" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <table class = "table table-borderless">

     <tr>
     <th style="text-align:center;vertical-align:middle;">Block Height</th>
     <th style="text-align:center;vertical-align:middle;">Block  Hash</th>
     <th style="text-align:center;vertical-align:middle;">No of Transactions</th>
     <th style="text-align:center;vertical-align:middle;">Block Size</th>
     <th style="text-align:center;vertical-align:middle;">Timestamps</th>
     </tr>

    <tr>
    {% for i in output %}
    <tr>
      <td height="80"style="text-align:center;vertical-align:middle;"> <a class="btn-link" href="/ui/mainSearch/?q={{i.block_height}}">{{i.block_height}}</a></td>
      <td style="text-align:center;vertical-align:middle;"><a class="btn-link" href="/ui/mainSearch/?q={{i.block_hash}}">{{i.block_hash}}</a></td>
      <td style="text-align:center;vertical-align:middle;">{{i.block_no_of_transactions}}</td>
      <td style="text-align:center;vertical-align:middle;">&nbsp;&nbsp;{{i.block_size}}</td>
      <td style="text-align:center;vertical-align:middle;">{{i.timestamp}}</td>
    </tr>
    {% endfor %}
    </tr>
    </table>
  </div>
  <br><br>

  <div class="wrongQuery"align="right">
  <a href="/ui/recent_hundred_data/" class="btn-link" align="right">SEE MORE</a>
  </div>

  <br><br><br>
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <div class="jumbotron">
            <h1 style="font-size:20px;">What is Bitcoin?</h1>
            <p style="font-size:15px;">Bitcoin is the world's first cryptocurrency, a form of electronic cash. It is the first decentralized digital currency: the system works without a central bank or single administrator.  </p>
            <a href="https://en.wikipedia.org/wiki/Bitcoin" target="blank">Know More --></a>
          </div>

        </div>
        <div class="col-xs-6">
          <div class="jumbotron">
            <br>
            <h2>SEARCH</h2>&nbsp;
            <h3>You may enter a block height, address, block hash, transaction hash...</h3>
            <br>
            <div class="group inline mt-20 block-mobile">

              <form action="/ui/mainSearch/" class="form-inline my-2 my-lg-0" method="get">
              <font size="2" face="Helvetica">
                        <input type="input_down" class="form-control mr-sm-2" type="search" placeholder=" Block Hash, Transaction Hash, Address, Block Height"aria-label=" Block Hash, Transaction Hash, Address, Block Height" name="q">
              </font>
                    <button class="btn btn-success" type="submit">Search</button>
              </form>

          </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container_third_recent_data">
    <div style="table-layout:fixed;width: 100%; overflow-x: auto;">
      <!-- TradingView Widget BEGIN -->
      <div class="container_third_recent_data">
        <div id="tv-medium-widget"></div>
        <div class="tradingview-widget-copyright">
          <a href="https://in.tradingview.com/symbols/COINBASE-BTCUSD/" rel="noopener" target="_blank"><span class="blue-text">Bitcoin Quotes</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.MediumWidget(
        {
        "container_id": "tv-medium-widget",
        "symbols": [
          [
            "Bitcoin",
            "COINBASE:BTCUSD|1y"
          ]
        ],
        "greyText": "Quotes by",
        "gridLineColor": "#00004d",
        "fontColor": "#83888D",
        "underLineColor": "#00004d",
        "trendLineColor": "rgba(115, 250, 217, 1)",
        "width": "1120px",
        "height": "500px",
        "locale": "in",
        "chartOnly": true
      }
        );
        </script>
      </div>
  <!-- TradingView Widget END -->
    </div>
  </div>

</div>

{% endblock %}
