{% extends 'website_api/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="container_second">

<table class="table table-responsive">

   <tr>
   <th>Block Height</th>
   <th>Block Hash</th>
   <th>Block Number of Transactions</th>
   <th>Block Size</th>

   <th>Timestamps</th>
   </tr>
<tr>
  {% for i in output %}
  <tr>
    <td> <a class="btn-link" href="/searchBlockHeight/?q={{i.block_height_list}}">{{i.block_height_list}}</a></td>
    <td><a class="btn-link" href="/search/?q={{i.block_hash_list}}">{{i.block_hash_list}}</a></td>
    <td>{{i.block_no_of_transactions_list}}</td>
    <td>{{i.block_size_list}}</td>

    <td>{{i.timestamp_list}}</td>
  </tr>
  {% endfor %}
</tr>
</table>

</div>
{% endblock %}
  </body>
</html>
