<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>


<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}


<table id = "bitcoin_data">

   <tr>
   <th>Block Height</th>
   <th>Block Hash</th>
   <th>Block Number of Transactions</th>
   <th>Block Size</th>

   <th>Timestamps</th>
   </tr>
<tr>
  {% for i in output %}
  <tr>
    <td>{{i.block_height_list}}</td>
  <a href="<td>{{i.block_hash_list}}</td>"><td>{{i.block_hash_list}}</td></a>
    <td>{{i.block_no_of_transactions_list}}</td>
    <td>{{i.block_size_list}}</td>

    <td>{{i.timestamp_list}}</td>
  </tr>
  {% endfor %}
</tr>
</table>
{% endblock %}
  </body>
</html>
