{% extends 'website_api/base.html' %}
{% load staticfiles %}
{% block content %}

        <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <div class="compact"style="margin: 0; display: inline-block; float: left;">
          <div class="blockContainer">
<table class="table table-borderless">
  <tr>
    <h2>Transaction</h2> <h3> (View information about a bitcoin Transaction)</h3>
  </tr>
  <td class="warning">{{transaction_hash}}</td>
<tr>

</tr>
  <tr>
    <th>Inputs</th>
    <td></td>
    <td></td>
    <th align="right">Outputs</th>
  </tr>
<td>
    {% if not input_addresses %}
            <h3>No new inputs (newly generated coins)</h3>
    {% endif %}
  {% for index in input_addresses %}
    <ul>
      <li> <a href="/searchAddress/?q={{index}}">{{index}}</a> </li>
    </ul>
  {% endfor %}
  </td>
  <td> <img src='http://localhost:8000/static/arrow.png' alt="arrow" width="25" height="25"> </td>
  <td align="right">
  {% for index in output_addresses %}
        <ul>
          <li> <a class="btn-link" href="/searchAddress/?q={{index}}">{{index}}</a> </li>
        </ul>
      {% endfor %}
      </td>
</table>
</div>
  <h2> Transaction  in Block  <a class="btn-link" href="/searchBlockHeight/?q={{block_height}}">{{block_height}}</a></h2>
<div class="container_second">
    <table class = "table table-responsive">
<tr word-wrap: break-word;
max-width: 150px;>
  <td>SUMMARY</td>
</tr>
    <tr class="success" ><td >Block Size </td> <td>  {{block_size}}</td></tr><br>
    <tr class="active"><td >Number of Inputs </td> <td> {{Number_of_inputs}} </td></tr><br>
    <tr class="info"> <td>Size</td> <td> {{transaction_hash_size}} (bytes)</td> </tr>
    <tr class="warning"><td>Number of Outputs </td> <td> {{Number_of_outputs}}</td></tr><br>
    <tr class="info"><td>Locktime </td> <td> {{locktime}}</td></tr><br>
    <tr class="active"><td>Version </td> <td> {{version}}</td></tr>
    <tr class="warning"><td>Block Height </td> <td> <a class="btn-link" href="/searchBlockHeight/?q={{i.block_height_list}}">{{block_height}}</a></td> </tr>
    <tr class="danger"> <td>Coinbase </td> <td>{{coinbase}}</td> </tr>
    <tr class="info"> <td> Output Script </td> <td>  <a class = 'btn-link' id="script" onclick="showScript()" href="#"> Script</a></td> </tr>
  </table>
  </div>

  </div>
<p>
  <div id="myDIV">
  <table class="table table-striped">
    <tr>
      <td> <h3>Output Scripts</h3></td>
    </tr>
    <td class="active">{{output_script}}</td>
  </table>
  </div>
</p>
  <script type="text/javascript">
  function showScript() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
      document.getElementById('hide').value = document.getElementById('script').value;
  }
  </script>
    {% endblock %}
  </body>
</html>
