{% extends 'website_api/base.html' %}

{% load staticfiles %}
  {% block content %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <h1>&nbsp;&nbsp;BLOCK  #{{block_height}}</h1>

  <div class="col-md-6 col-sm-6">

<table class = "table table-responsive">
  <tbody>

  <tr class="active">  <td>SUMMARY</td> <td> </td>  </tr>


          <tr class="info"><td  word-wrap: break-word;
      max-width: 150px; >Block Height </td> <td> {{block_height}}</td></tr>
          <tr class="warning"> <td >Block timestamps </td> <td> {{timestamp}}</td></tr>
          <tr class="danger"> <td >Difficulty  </td> <td>{{difficulty}}</td></tr>
          <tr class="success"><td>Number of transactions </td> <td> {{block_no_of_transactions}}</td></tr>
          <tr class="active"><td >Block Size  </td> <td>{{block_size}}</td></tr>
          <tr class="active"> <td >Bits  </td> <td>{{bits}}</td></tr>
          <tr class="warning"> <td >Nonce  </td> <td>{{nonce}}</td></tr>

          </tbody>
</table>
</div>

<div class="col-md-6 col-sm-6">
  <table class="table table-responsive">
    <tbody>
      <tr class="active"><td>Hash</td> <td></td>
      </tr>
      <tr  class="active">
      <td>Block Hash </td> <td> {{block_hash}} </td>
      </tr>
      <tr  class="active">

      <td> Previous Block Hash</td><td><a class="btn-link" href="/search/?q={{previous_block_hash}}">{{previous_block_hash}}</a></td>
        </tr>
        <tr  class="active">
       <td>Merkle Root</td> <td>{{merkle_root}}</td>
       </tr>
    </tbody>
  </table>
<br><br><br><br>
</div>





<h2>  &nbsp;&nbsp;&nbsp;<u>Transactions - {{c}} </u> </h2>
<br>
{% for i in final_list %}

<div class="blockContainer">
<table class="table table-border">
<h3>&nbsp;&nbsp;&nbsp;Transaction</h3>
<tr>
<td class="active"> <li> <a href="/searchTransaction/?q={{i.transaction_hash}}">{{i.transaction_hash}}</a></li> </td>
</tr>
<tr>
      <td> <h3>Addresses</h3></td><tr>
      </tr>
        <td>
        {% if not input_addresses %}
            <h3>coinbase</h3>

            {% for index_input in i.input_address %}
              <ul>
                  <li> <a class="btn-link" href="/searchAddress/?q={{index_input}}"> {{index_input}} </li></a>
              </ul>

            {% endfor %}
      </td>
        {% endif %}
<td> <img src='http://localhost:8000/static/arrow.png' alt="arrow" width="25" height="25"> </td>
            {% for index in i.output_address %}
              <td align="right">
                <ul>
                  <li><a class="btn-link" href="/searchAddress/?q={{index}}"> {{index}}</a></li>
                </ul>
              </td>
            {% endfor %}
    </tr>

  <h3>------------------------------------------------------------------------------------------------------------------------------</h3>
</table>
</div>
<br>
{% endfor %}



{% endblock %}


  </body>
</html>
