{% extends 'website_api/base.html' %}

{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div>

  <font size="2" face="Helvetica" >

  <h2 style="font-size:30px">&nbsp;&nbsp;BLOCK  #{{block_height}}</h2>

   <div class="col-md-12" style="margin-bottom: 5%;">
    <div class="col-md-6">
        <div class="block-hash-container" >
                <table class = "table table borderless">
                    <tbody>
                            <tr><td class="active highlight"> <b> SUMMARY </b></td><td  class="active highlight"></td> </tr>
                            <tr><td>Block Height </td> <td> {{block_height}}</td></tr>
                            <tr><td>Block timestamps </td> <td> {{timestamp}}</td></tr>
                            <tr><td>Difficulty  </td> <td>{{difficulty}}</td></tr>
                            <tr><td>Number of transactions </td> <td> {{block_no_of_transactions}}</td></tr>
                            <tr><td>Block Size  </td> <td>{{block_size}}</td></tr>
                            <tr><td>Bits  </td> <td>{{bits}}</td></tr>
                            <tr><td>Nonce  </td> <td>{{nonce}}</td></tr>
                  </tbody>
                </table>
         </div>
    </div>

    <div class="col-md-6">
          <div class="block-hash-container">
                <table class="table table-responsive">
                    <tbody>
                          <tr><td class="active highlight"> <b>Hash</b></td> <td  class="active highlight"></tr>
                          <tr><td>Block Hash </td> <td> {{block_hash}} </td></tr>
                          <tr><td> Previous Block Hash</td><td><a class="btn-link" href="/btc/mainSearch/?q={{previous_block_hash}}">{{previous_block_hash}}</a></td></tr>
                          <tr><td>Merkle Root</td> <td>{{merkle_root}}</td></tr>
                    </tbody>

              </table>
          </div>
    </div>
  </div>

  <div align="center" style="margin-top: 1em">
    <!-- <div style="margin-top: auto; margin-left: 12px; font-size: 20px"> -->
    <h1 style="margin-top: auto; margin-left: 12px; font-size: 20px">TRANSACTIONS IN BLOCK</h1>
  </div>

  <div>
    {% for data in final_list %}
    <div class="transaction-card">
          <div>
                  <table class="table-container table table-borderless">
                            <tr>
                              <h2 style="margin-top:1em">Transaction</h2> 
                              <h3 style="margin-top:0.8em"> (View information about a bitcoin Transaction) </h3>
                              <br/>
                              <br/>
                            </tr>

                            <tr>
                              <td >
                                <li> 
                                  <a href="/btc/mainSearch/?q={{data.transaction_hash}}">{{data.transaction_hash}}</a>
                                </li> 
                              </td>
                            </tr>

                            <tr>
                              <td text-align:center;vertical-align:middle;">
                                <b>
                                  Accepted on {{timestamp}}
                                </b>
                              </td>

                              <td >
                                  <div style="color:#0ac546;" >
                                    <b>
                                    <!-- {{data.balance}} BTC -->
                                  </b>
                                  </div>
                                </td>

                            </tr>

                            <tr>
                              <td> 
                                <h3>Addresses</h3>
                              </td>
                              <td/>
                            </tr>

                            <tr>
                              <td style="text-align:center;vertical-align:middle;"> 
                                <b>Inputs</b> 
                              </td>  
                            <td></td>
                            <td style="text-align:center;vertical-align:middle;">
                              <b>Outputs</b> 
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           </tr>

                           <td style="text-align:center;vertical-align:middle;">
                              {% for index_input in data.input_address %}
                                  <ul>
                                      <li>
                                        <a class="btn-link" href="/btc/mainSearch/?q={{index_input}}"> {{index_input}}</a>
                                      </li>
                                  </ul>

                                  {% empty %}
                                  <div class="coinbase">
                                       <b>(newly generated coins)</b>
                                       <h1 >Coinbase Transactions</h1>
                                  </div>

                              {% endfor %}
                            </td>

                            <td style="text-align:center;vertical-align:middle;">
                               <img src='/static/images/arrow.png' alt="arrow" width="25" height="25"> 
                            </td>

                            <td align="right" style="text-align:center;vertical-align:middle;">
                                {% for index in data.output_address %}
                                  <ul align="right">
                                      <li>
                                        <a class="btn-link" href="/btc/mainSearch/?q={{index}}"> {{index}} </a>
                                      </li>
                                  </ul>
                                {% endfor %}
                            </td>
                </table>
          </div>
    </div>
    {% endfor %}
    <!-- </div> -->

    <div  class="container">
      {% if next_page != None %}
        <div class="wrongQuery" style="position:relative;  width: 180px; float:right;" align="right">
          <a class="btn-link" href={{next_page}}> NEXT </a>
        </div>
      {%endif%}

      {% if previous_page != None %}
        <div class="wrongQuery" style="position:relative; width: 180px; float:left;" align="left">
          <a class="btn-link" href={{previous_page}}> PREVIOUS </a>
        </div>
      {%endif%}
    </div>
  </div>

  </font>
</div>




{% endblock %}
