{% extends 'website_api/base.html' %}
{%load staticfiles%}
{% block content %}

<font size="2"face="Helvetica" >
<div class="heading_wallet">
  <h1 style="text-align:center;font-size:30px;margin-right:0px;"><b>BITGUARD WALLET</b></h1>
  <h3 align="center"style="margin-right:0;font-size:15px;">Download From Google Play Store</h3>
</div>
<br>
<div class="row" style="text-align:center;">
    <div class="col-sm-4"style="width:33%; margin-top:90px;">

      <div class="box_1" style="margin-top:80px;">


        <div class="box_1_1"style="float:right;margin-top:20px">

          <img src="/static/images/lock_icon.png" alt="secure" width="37" height="35">

        </div>
        <div class="box_1_2" style="width:150px;float:right;text-align:right;margin-right:7px;">
          <h1 style="font-size:30px;">Private And Secure </h1>
          <h3 style="font-size:15px;">The keys to your tokens are securely stored on your phone, giving you full control of your own digital assets.</h3>
        </div>
        </div>


        <br>
      <div class="box_1" style="margin-top:250px;">
        <div class="box_2_1" style="float:right;margin-top:20px;margin-left:4px;">
              <img src="/static/images/reload.png" alt="reload" width="35" height="35">
        </div>
      <div class="box_2_2"  style="width:150px;float:right;text-align:right;margin-right:7px;">
        <h1 style="font-size:30px;">Multichain Wallet</h1>
        <h3 style="font-size:15px;">All your tokens stored in one place backed by single mnemonics.</h3>
      </div>
      </div>

    </div>


    <div class="col-sm-4" style="width:33%;">
      <div class="image_wallet">
      <img src="/static/images/bitguard.png"    alt="bitguard" width="425" height="750">
      <br>
    <a  href="https://play.google.com/store/apps/details?id=com.blockwala.bitguard" target="blank">  <img style="margin-left:110px;"width="200px" class="pull-left" src="/static/images/play_store_download.png">
    </a><br>

      </div>
    </div>

    <div class="col-sm-4"style="margin-top:40px width:33%;" >

      <div class="box_1" style="margin-top:60px;">
      <div class="box_3_1"style="float:left">
        <img src="/static/images/qr_code_icon.png" alt="qr_code" width="35" height="35">
      </div>
      <div class="box_3_2" style="text-align:left; width:150px;margin-top:20px;margin-left:45px;">
        <h1 style="font-size:30px;">Wallet <br> Connect</h1>
        <h3 style="font-size:15px;">Interact with other wallets on the web using the built-in QR code scanner. This is powered by the WalletConnect standard.</h3>
      </div>
      </div>
      <div class="box_1" style="margin-top:80px;">
      <div class="box_4_1" style="float:left;">
        <img src="/static/images/lightning.png" alt="lightning" width="35" height="35">
      </div>
      <div class="box_4_2"style="text-align:left; margin-top:0px; width:150px;margin-left:45px;">
        <h1 style="font-size:30px;">Fast And <br> Easy</h1>
        <h3 style="font-size:15px;">Send and receive all tokens quickly and easily. Lightning fast search and transaction history.</h3>
      </div>
      </div>

</div>
</div>
</font>
{% endblock %}
