{% extends 'website_api/base.html' %}
{%load staticfiles%}
{% block content %}
<div class="row">
    <div class="col-sm-4">

        <div class="jumbotron" style="padding-top:15px;margin-top:20px">

      <div class="box_1">
        <div class="box_1_1">
          <img src="http://localhost:8000/static/images/lock_icon.png" alt="secure" width="25" height="25">
        </div>
        <div class="box_1_2">
          <h1 style="font-size:20px;">Private And Secure </h1>
          <h3>The keys to your tokens are securely stored on your phone, giving you full control of your own digital assets.</h3>
        </div>

        </div>
        <br>
      <div class="box_2">
        <div class="box_2_1">
              <img src="http://localhost:8000/static/images/reload.png" alt="reload" width="25" height="25">
        </div>
      <div class="box_2_2">
        <h1 style="font-size:20px;">Simple exchange</h1>
        <h3>Buy and store dozens of tokens using our simple token trading interface powered by ShapeShift, 0x, Oasis & Kyber.</h3>
      </div>
      </div>
</div>
    </div>
    <div class="col-sm-4">
      <div class="" >
      <img src="http://localhost:8000/static/images/bitguard.png" alt="bitguard" width="250" height="450">
      <br><br>
      <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png">
    <br>
    <div class="btn-text"><small>Available on     </small><strong>Google Play</strong></div>


      </div>
    </div>

    <div class="col-sm-4" >
      <div class="jumbotron" style="padding-top:15px;margin-top:20px;margin-left:0px;">

      <div class="box_3">
      <div class="box_3_1">
        <img src="http://localhost:8000/static/images/qr_code_icon.png" alt="qr_code" width="25" height="25">
      </div>
      <div class="box_3_2">
        <h1 style="font-size:20px;">Wallet Connect</h1>
        <h3>Interact with dapps on the web using the built-in QR code scanner. This is powered by the WalletConnect standard.</h3>
      </div>
      </div>
      <div class="box_4">
      <div class="box_4_1">
        <img src="http://localhost:8000/static/images/lightning.png" alt="lightning" width="35" height="35">
      </div>
      <div class="box_4_2"style="margin-top:0px;">
        <h1 style="font-size:20px;">Fast And Easy</h1>
        <h3>Send and receive Ether and tokens quickly and easily. Lightning fast search and transaction history.</h3>
      </div>
      </div>
    </div>
</div>
</div>

{% endblock %}
